body {
    background-color: white;
    font-family: Tahoma, Calibri, 'Trebuchet MS', Arial;
    margin: 20px;
    color: #666666;
}

h1, h2 {
    clear: both;
    font-weight: normal;
    text-shadow: 1px 1px 0px #FFFFFF;
}

/* Common division block 
.holder
{
    border: 0px solid #FFFFFF;    
    margin: 5px;
    position: relative;    
    overflow: hidden;
    box-shadow: 0px 0px 5px #333333;
    -webkit-transition: 0.5s Ease;
    -moz-transition: 0.5s Ease;
    -o-transition: 0.5s Ease;
    transition: 0.5s Ease;    
    width:200px;
    height:210px
}*/

/* Caption and Light 
.caption{
    color: white;
    line-height: 200px;    
}*/

.caption:hover {
    color: rgb(255,255,255);
    box-shadow: 0px 0px 10px 7px #FFFFFF;
}



/* .image:hover .details-caption-holder{
      display:inline-block;     
 }

.image:hover + .details-caption-holder {
    -webkit-animation: shake 1s;
    animation: shake 1s;
    display:inline-block
}*/




.caption .details-caption-holder {
    display: none;
    position: absolute;
    top: 20px;
    left: 15px;
    font-size: 30px;
    width: 200px;
    height: 70px;
    background-color: #172431;
    opacity: 0.9
}

.caption .user-rating-holder {
    padding-right: 0;
    padding-left: 0;
    display: none;
    position: absolute;
    top: 175px;
    left: 15px;
    font-size: 18px;
    width: 200px;
    height: 70px;
    background-color: #172431;
    opacity: 0.9
}

.image {
    width: 200px;
    height: 210px;
}

/*
.user-rating-holder {
    display: inline-block;
    position: absolute;
    width: 200px;
    height: 210px;
}*/


.details-caption {
    position:absolute;
    left:56px;
    top:10px;
    color: white;
    font-size: 18px;
    line-height: 40px;
}

.details-caption-holder:hover  .details-caption{
    opacity:1;
    font-size:20px;  
    left:45px;
}

.caption:hover .details-caption-holder {
    display:inline-block;
}

.details-caption-holder:hover{
    display:inline-block;
    opacity:1;
}


.caption:hover .user-rating-holder{
    display:inline-block;
}

