.page-number-element{
    display: inline-block;    
    text-decoration: underline
}

.current-page-element{
     display: inline-block;    
}



.page-numbers-container{    
    position: absolute;
    left: 50%;
}