.btn {
    border-radius: 0;
    margin-top: 15px;
}

.profile-image {
    width: 200px;
    height: 200px;
}

.favorites-button {
    background: url('../Content/images/add-to-favorites.png');
    margin-top: 20px;
    margin-left: 5px;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-indent: -9999px; /* hides the link text */
}

.remove-from-favorites-button {
    background: url('../Content/images/remove-from-favorites.png');
    margin-top:20px;
    margin-left: 5px;
    display: inline-block;
    font-size: 12px;
    width: 20px;
    height: 20px;
    text-indent: -9999px; /* hides the link text */
}

.favorites-text {
    position: absolute;
    height: 100%;
    left: 40px;
    top: 20px;
    font-size: 15px;
    display: inline-block;
}


.rating-star{
    padding-top:2px;
}

ul > li > a.profile-link {
    display: inline-block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.details-favorites-button{
    position:absolute;
    width:100%
}
