.btn{
    border-radius:0;
    margin-top:15px;
}

.profile-image{
    width:200px;
    height:200px
}

.favorites-button {  
    background: url('../Content/images/add-to-favorites.jpg');
    margin-left:5%;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-indent: -9999px; /* hides the link text */
}

.remove-from-favorites-button {   
    background: url('../Content/images/remove-from-favorites.jpg');
    margin-left:5%;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-indent: -9999px; /* hides the link text */
}

ul>li>a.profile-link{
    display:inline-block
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}