.user-rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  padding-top:15px;
  padding-bottom:0;
  padding-left:0;
  padding-right:10%
}

.user-rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

/*
.user-rating > span:hover{
   content: "\2605";   
   color:aqua;
}*/

.user-rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color:aqua;
}

.user-rating > span:hover:before {
   content: "\2605";
   position: absolute;
   color:royalblue;   
}

.user-rating-in-detailed-view {
    display:inline-block;
    width:120px
}

