.login-button{
    margin:10px;
    margin-left:38%;
    text-align:center;
    display:inline-block;
    width:25%;
    border:4px solid #172431; 
    border-radius:10px
}

.login-button:hover{
    background-color:darkslategray;
    color:white;
}

.go-to-register-form:hover{
    background-color:darkslategray;
    color:white;
}

.go-to-register-form {
    margin:10px;
    margin-left:20%;
    text-align:center;
    display:inline-block;
    width:65%;
    border:4px solid #172431;
    border-radius:10px
}

#login-form .button-container{
    text-align:center
}

.validation-row{
    height:60px;
}

.or-row{    
    text-align:center;
}