@model SportsBook.Web.Areas.Facilities.ViewModels.Ratings.FacilityRatingViewModel
@using Microsoft.AspNet.Identity
<div style="padding-top:5px;padding-bottom:0;padding-left:0;padding-right:0">
    @if (@Model != null)
    {
        <div class="user-rating" data-id="@this.ViewBag.facilityId" rating-value="@Model.RatingValue">
            <span class="star-style star-click">☆</span>
            <span class="star-style star-click">☆</span>
            <span class="star-style star-click">☆</span>
            <span class="star-style star-click">☆</span>
            <span class="star-style star-click">☆</span>
        </div>
    }
    else
    {
        if (User.Identity.GetUserId() != null)
        {
            <div class="user-rating" data-id="@this.ViewBag.facilityId" rating-value="0">
                <span class="star-style star-click">☆</span>
                <span class="star-style star-click">☆</span>
                <span class="star-style star-click">☆</span>
                <span class="star-style star-click">☆</span>
                <span class="star-style star-click">☆</span>
            </div>
        }
        else
        {
            <div class="user-rating" data-id="@this.ViewBag.facilityId" rating-value="0">
                <span class="star-style not-logged-user-star">☆</span>
                <span class="star-style not-logged-user-star">☆</span>
                <span class="star-style not-logged-user-star">☆</span>
                <span class="star-style not-logged-user-star">☆</span>
                <span class="star-style not-logged-user-star">☆</span>
            </div>
        }
    }
</div>
