@model SportsBook.Web.Areas.Facilities.ViewModels.PageableComments.CommentsListViewModel

<div class="comments-page-body">
    @foreach (var comment in Model.Comments)
    {
        if (comment.IsDeleted == false)
        {
            <div class="row">
                @{
                    @Html.Partial("_SingleCommentPartial", comment)
                }
            </div>
        }
    }
</div>

<div class="page-numbers-container">
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        if (i == Model.CurrentPage)
        {
            <div class="current-page-element">@i</div><div class="current-page-element"> </div>
        }
        else
        {
            <div class="page-number-element">@i</div><div class="page-number-element"></div>
        }
    }
</div>


